<h2>#<%= tag.name%></h2>

<h4>Articles associated with the #<%= tag.name%></h4>

<% tag.articles.forEach(function(a){%>
	<div>
		<a href="/articles/<%= a.id %>">
			<%= a.title%>
		</a>
	</div>
<%});%>

<a href="/tags/edit/<%= tag.id%>" class="btn btn-sm btn-warning">
	Must you change it? 
</a>
<a href="/tags/<%= tag.id%>" class="btn btn-sm btn-danger delete-btn">
	Hate it?
</a>